.App {
  text-align: center;
}
.container {
  display: flex;
  flex-flow: row wrap;
  
}
.card {
  border: 1px solid black;
  border-radius: 5%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  width:200px;
  height: auto;
  padding: 10px;
  margin: 5px;

}